.nav-logo {
    width: 170px;
    height: 49px;
    margin: 1.5625rem 0 3.125rem;
    cursor: pointer;
  }
  .nav-ul .nav-li .nav-span {
    display: block;
    font-family: open-sans;
    padding: .7rem 1rem;
    text-align: right;
    margin: 0 -1.25rem;
    text-decoration: none!important;
    color: #3a3d57;
    font-size: 1.1875rem;
    text-transform: uppercase;
    transition: transform .25s;
    transform-origin: right center;
}
.nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

  .navbar {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 170px;
    padding: 1.5625rem;
    height: 100vh;
    z-index: 900;
    overflow: auto;
  }
